@import '../../../styles/all-variables';

.card {
  position: relative;
  height: 21.87rem;
  border-radius: $border-radius-small;

  :hover {
    cursor: pointer;
  }

  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
    height: 18.125rem;
  }

  @media (max-width: $breakpoint-mobile) {
    height: 14.375rem;
  }
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: $spacing-default;
  background: $gradient-black;
}

.cardFavorite {
  align-self: flex-end;
}

.cardText {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: $color-white;
  gap: $spacing-xxs;
  text-align: center;
}

.cardTitle {
  color: $color-white;
  font-size: $card-title-size;
  font-weight: $regular-weight;
}

.cardSubtitle {
  color: $color-white;
  text-align: center;
  font-size: $paragraph-small-size;
  font-style: italic;
  font-weight: $regular-weight;
  opacity: 0.7;
}

.cardSightings {
  font-size: $default-size;
  margin-top: $spacing-default;
}
