$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1220px;

:export {
  breakpointMobile: $breakpoint-mobile;
  breakpointTablet: $breakpoint-tablet;
  breakpointDesktop: $breakpoint-desktop;
}
