@import 'shadows';
@import 'colors';
@import 'typography';
@import 'tokens';

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xs2 $spacing-s2;
  border: none;
  border-radius: $border-radius-small;

  background: $gradient-primary;
  color: color('white');

  font-family: Ubuntu;
  font-size: font-size('default');
  font-weight: font-weight('medium');

  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    @include apply-shadow('button');
  }
}

button.large {
  width: 100%;
  padding: $spacing-xs;
  border-radius: $border-radius-small;
}

button.small {
  padding: $spacing-xxs $spacing-xs;
  border-radius: $border-radius-medium;

  font-size: font-size('button');
  font-weight: font-weight('regular');
  background: rgba(0, 0, 0, 0.5);

  &:hover {
    @include apply-shadow('button');
    background: $gradient-primary;

    cursor: pointer;
    transition: background 1s ease-in-out;
  }
}

button.rounded {
  border-radius: $border-radius-large;
}
