$palette: (
  'primary': #bc8cd2,
  'primary_light': #d3b9df,
  'primary_faded': #ece1f1,
  'warning': #f4bd50,
  'error': #f45050,
  'white': #fff,
  'url': '#0000EE',
);

$palette_legacy: (
  'primary': #df9186,
  'primary_light': #eaa79e,
  'primary_faded': #ecbcb3,
  'warning': #f4bd50,
  'error': #f45050,
  'white': #fff,
  'url': '#0000EE',
);

$active-palette: $palette_legacy;

$blacks: (
  '100': #000,
  '70': #4f4f4f,
  '50': #828282,
  '25': #bdbdbd,
  '12': #e0e0e0,
  '5': #f2f2f2,
);

@function color($color-name) {
  @return map-get($active-palette, $color-name);
}

@function black($percentage) {
  @return map-get($blacks, $percentage);
}
