@import 'colors';

$hero-size: 2.75rem;
$h1-size: 2rem;
$h2-size: 1.5rem;
$h3-size: 1.125rem;
$h4-size: 1rem;
$h5-size: 0.875rem;
$h6-size: 0.75rem;
$card-title-size: 1.25rem;
$default-size: 0.875rem;
$paragraph-size: 0.875rem;
$paragraph-small-size: 0.75rem;
$button-size: 0.75rem;
$link-size: 0.875rem;
$caption-size: 0.75rem;
$input-size: 0.8125rem;
$label-size: 0.625rem;

$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semi-bold-weight: 600;
$bold-weight: 700;

.hero {
  font-size: $hero-size;
  font-weight: $bold-weight;
}

h1 {
  font-size: $h1-size;
  font-weight: $semi-bold-weight;
}

h2 {
  font-size: $h2-size;
  font-weight: $medium-weight;
}

h3 {
  font-size: $h3-size;
  font-weight: $medium-weight;
}

h4 {
  font-size: $h4-size;
  font-weight: $medium-weight;
}

h5 {
  font-size: $h5-size;
  font-weight: $medium-weight;
}

h6 {
  font-size: $h6-size;
  font-weight: $medium-weight;
}

p {
  font-size: $paragraph-size;
  font-weight: $regular-weight;
}

.paragraph-small {
  font-size: $paragraph-small-size;
  font-weight: $regular-weight;
}

button {
  font-size: $button-size;
  font-weight: $medium-weight;
}

a {
  font-size: $link-size;
  font-weight: $medium-weight;
}

caption {
  font-size: $caption-size;
  font-weight: $regular-weight;
  color: $color-black-50;
}

:export {
  heroSize: $hero-size;
  h1Size: $h1-size;
  h2Size: $h2-size;
  h3Size: $h3-size;
  h4Size: $h4-size;
  h5Size: $h5-size;
  h6Size: $h6-size;
  cardTitleSize: $card-title-size;
  defaultSize: $default-size;
  paragraphSize: $paragraph-size;
  paragraphSmallSize: $paragraph-small-size;
  buttonSize: $button-size;
  linkSize: $link-size;
  captionSize: $caption-size;
  lightWeight: $light-weight;
  regularWeight: $regular-weight;
  mediumWeight: $medium-weight;
  semiBoldWeight: $semi-bold-weight;
  boldWeight: $bold-weight;
  inputSize: $input-size;
  labelSize: $label-size;
}
