@import '../../styles/all-variables';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include apply-shadow('default');
  background-color: $color-white;
  padding: 0 $spacing-s;
  height: $spacing-l;
  font-family: Montserrat;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-m;

  span {
    color: $color-primary;
    font-weight: $medium-weight;
  }

  a {
    color: $color-gray-50;
    text-decoration: none;
  }

  button {
    font-family: Montserrat;
  }
}

.navProfile {
  display: flex;
  gap: $spacing-default;
  align-items: center;
  justify-content: space-between;

  img {
    width: calc($spacing-default * 2);
    height: calc($spacing-default * 2);
    border-radius: 100%;
  }
}

.hamburgerIcon {
  display: none;
}

@media screen and (max-width: $breakpoint-tablet) {
  .navLinks {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100dvh;
    width: 100dvw;
    background-color: $color-white;
    top: $spacing-m;
    left: 0;
    padding: 0 $spacing-s;
  }

  .navigation:has(.opened) {
    height: $spacing-l;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .opened {
    display: flex;
  }

  .hamburgerIcon {
    display: block;
  }
}
